<div class="banner bg justify-content-center d-flex">
  <div class="mt-5">
    <span id="banner-typed-text"></span>
  </div>
  <%= link_to "Add your own cocktail", new_cocktail_path, class: "btn btn-primary position" %>
</div>

<div class="container mt-3">
  <h1 class='text-center'>Most Popular</h1>
  <div class="row justify-content-center">
    <div class="grid-cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card">
        <% if cocktail.photo.attachment.nil?  %>
           <%= image_tag "https://via.placeholder.com/400x300", height:220, width:220, crop: :fill  %>
        <% else %>
           <%= link_to cocktail_path(cocktail) do %>
           <%= cl_image_tag cocktail.photo.key, height:220, width:220, crop: :fill %>
           <% end %>
        <% end %>
        <h2 class="card-description"><%= cocktail.name %></h2>
      </div>
        <% end %>
    </div>
  </div>
</div>

